# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python
python:
  - "2.7"
  - "3.4"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -r requirements.txt
  - pip install -r requirements_dev.txt
  - pip install nose
  - pip install coverage
  - pip install coveralls

# command to run tests, e.g. python setup.py test
script: nosetests --with-coverage --cover-package=MDRun

# After you create the Github repo and add it to Travis, run the
# travis_pypi_setup.py script to finish PyPI deployment setup
# deploy:
#   provider: pypi
#   distributions: sdist bdist_wheel
#   user: jeiros
#   password:
#     secure: PLEASE_REPLACE_ME
#   on:
#     tags: true
#     repo: jeiros/MDRun
#     condition: $TOXENV == py27

notifications:
  email: false

after_success:
  - coveralls
